<h1>Make your form here</h1>
<form method = "POST" action = "/show">
<label for="pirate_name">Pirate Name:</label>
<input type= "text" name = "pirate[name]"  id = "pirate[name]"><div>

<label for="pirate_weight">Weight:</label>
<input type= "text" name = "pirate[weight]"  id="pirate[weight]" ><div>

<label for="pirate[height]">Height</label>
<input type= "text" name = "pirate[height]"  id= "pirate[height]"><div>


<label for="ship_name1">Ship Name 1:</label>
<input type= "text" name = "ship1[name]"  id="ship_name_1"><div>

<label for="ship_type1">type:</label>
<input type= "text" name = "ship1[typ]" id="ship_type_1"><div>

<label for="ship_booty1">booty</label>
<input type= "text" name = "ship1[booty]" id="ship_booty_1"><div>

<label for="ship_name2">Ship Name 2:</label>
<input type= "text" name = "ship2[name]" id="ship_name_2"><div>

<label for=ship_type2">type:</label>
<input type= "text" name = "ship2[type]" id="ship_type_2"><div>

<label for="ship_booty2">booty</label>
<input type= "text" name = "ship2[booty]" id="ship_booty_2"><div>
<input type="submit" value="Submit"/>

</form>